/* Component enclosing tag */
.Contact {
  padding: 1em;
  border-radius: 10px;
  background: #555;
  width: 316px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Contact image */
.Contact .avatar {
  border-radius: 33%;
  margin-right: 0;
  width: 80px;
  height: 80px;
}

/* Name */
.Contact .name {
  margin: 0 0 0.25rem;
  color: #eee;
  display: flex;
  justify-content: center;
}

/* Status text */
.Contact .status .status-text {
  color: #999;
  margin: 0;
  display: inline-block;
}

/* Status (rounded&colored indicator) */
.Contact .status .status-online,
.Contact .status .status-offline {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.Contact .status .status-online {
  background: #aed581;
}

.Contact .status .status-offline {
  background: #f4511e;
}

div .block1{
  width: 69%;
  align-items: center;
  justify-content: center;
  margin: 11% 0% 0% 0%;
}

p {
  display: flex;
  justify-content: center;
}